<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-img class="image" alt="Vivo DuocUC" src="https://duoc.modyocdn.com/uploads/d1065e11-cde5-40b4-b58f-59004919c757/original/logo_duoc.svg"></ion-img>
  </ion-toolbar>
</ion-header>
<br><br>

<ion-content [fullscreen]="true" class="item" >

  <ion-card class="asdg" mode="ios">

   
    <div class="flex-l">
      <div>
        <ion-icon  class="w-l" (click)="goBack()" name="arrow-back-outline"></ion-icon>
      </div>
      <div class="xl">Listado de asistencia de alumnos</div>
    </div>
    
    <h3>Profesor/a {{usuario.nombre}} {{usuario.apellido}} </h3>
    <h3>Curso: {{usuario.nombreseccion}}</h3>
    <h3>Seccion: {{usuario.seccion}}</h3>
    <h3>Codigo: {{usuario.codseccion}}</h3>
  
    <h6>Fecha: {{fechaActual}}, hora: {{horaActual}}</h6>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let item of alumnos">
      <ion-label>{{item.alumno.nombre}} {{item.alumno.apellido}} ({{item.alumno.estado === "Activo" ? "Presente" : "Ausente"}})</ion-label>
      <!-- <ion-checkbox slot="end" [(ngModel)]="alumno.asistencia" (ionChange)="cambiarEstado(alumno)"></ion-checkbox> -->
    </ion-item>
  </ion-list>

  <ion-button (click)="cerrarSesion()" fill="clear" class="btncerrar">Cerrar Sesión</ion-button>

</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-img class="imfoot" alt="LogoEscuela" src="https://media.licdn.com/dms/image/C5116AQFjsWVbWn2A5A/profile-displaybackgroundimage-shrink_200_800/0/1517046331426?e=2147483647&v=beta&t=Q9FJ8RESEF1264vnT_L-D_5xZpwZxHmV9bKwX1bQUNo"></ion-img>
  </ion-toolbar>
</ion-footer>