<ion-header [translucent]="true" >
  <ion-toolbar >
    <ion-img class="image" alt="Vivo DuocUC" src="https://duoc.modyocdn.com/uploads/d1065e11-cde5-40b4-b58f-59004919c757/original/logo_duoc.svg"></ion-img>
  </ion-toolbar>
</ion-header>
<br><br>

<ion-content [fullscreen]="true" class="item">
  <ion-card class="carcon">
    <ion-card>
      <ion-card-header>
        <h3>Escanea tu asistencia</h3>
        <h6>Id: {{ user.idAlumno }} </h6>
        <h3>Alumno/a {{ user.nombre }} {{ user.apellido }}</h3>
        <h3>Curso: {{user.nombreseccion}}</h3>
      <h3>Seccion: {{user.seccion}}</h3>
      <h3>codigo: {{user.codseccion}}</h3>
      <!-- <h3>Estado: {{user?.estado}}</h3> hay que hacer llegar el estado desde el login para poder mostrarlo -->
      </ion-card-header>
      <ion-card-content>
        <p>Fecha: {{ fechaActual }}</p>
        <p>Hora: {{ horaActual }}</p>
        <br><br><br><br>

        <!-- <ion-list>
          <ion-item *ngFor="let barcode of barcodes">
            <ion-label position="stacked">{{ barcode.format }}</ion-label>
            <ion-input type="text" [value]="barcode.rawValue"></ion-input>
          </ion-item>
        </ion-list> -->
        <div>
          <div>{{ msgOne }}</div>
          <ion-label>{{msgTwo}}</ion-label>
        </div>
        <ion-fab slot="fixed" vertical="center" horizontal="center">
          <ion-fab-button (click)="scan()">
            <ion-icon name="scan"></ion-icon>
          </ion-fab-button>
        </ion-fab>

      </ion-card-content>
    </ion-card>

    <div>{{err}}</div>

    <ion-button (click)="cerrarSesion()" fill="clear" class="btncerrar">Cerrar Sesión</ion-button>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar >
    <ion-img class="imfoot" alt="LogoEscuela" src="https://media.licdn.com/dms/image/C5116AQFjsWVbWn2A5A/profile-displaybackgroundimage-shrink_200_800/0/1517046331426?e=2147483647&v=beta&t=Q9FJ8RESEF1264vnT_L-D_5xZpwZxHmV9bKwX1bQUNo"></ion-img>
  </ion-toolbar>
</ion-footer>
