<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-img class="image" alt="Vivo DuocUC" src="https://duoc.modyocdn.com/uploads/d1065e11-cde5-40b4-b58f-59004919c757/original/logo_duoc.svg"></ion-img>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="item"><br><br>
      <h3>¿Quién es usted?</h3>
     
      <h3>Para recordar su contraseña, ingrese los siguientes datos.</h3><br>

      <form [formGroup]="formularioRecuperacion">
        <ion-item class="item">
          <ion-input class="inp" label="Correo" type="email" label-placement="floating" placeholder="Ingrese su correo de Duoc" formControlName="correo" ></ion-input>
        </ion-item> 
        <ion-item class="item">
          <ion-input class="inp" label="Nombre" type="string" label-placement="floating" placeholder="Ingrese su Nombre" formControlName="nombre" ></ion-input>
        </ion-item> 
        <ion-item class="item">
          <ion-input class="inp" label="Apellido" type="string" label-placement="floating" placeholder="Ingrese su correo de Duoc" formControlName="apellido" ></ion-input>
        </ion-item> 
      </form><br />
     
    <ion-button class="btncolor"  fill="clear" (click)="recordarEmail()">Recordar</ion-button> 


    <ion-button class="btncolor" id="open-loading5"  fill="clear" (click)="cancelarRedireccion()">Volver al Registro de usuarios</ion-button>
    <ion-loading class="custom-loading" id="open-loading5" message="Seras redireccionado a Inicio de sesión" [duration]="1000"></ion-loading>

    <ion-button  class="btncolor"  fill="clear" (click)="borrar()">limpiar</ion-button>
    <ion-loading class="custom-loading" id="open-loading6" class="custom-loading" trigger="open-loading6" message="Limpiando formulario" [duration]="1000"></ion-loading>
</ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-img class="imfoot" alt="LogoEscuela" src="https://media.licdn.com/dms/image/C5116AQFjsWVbWn2A5A/profile-displaybackgroundimage-shrink_200_800/0/1517046331426?e=2147483647&v=beta&t=Q9FJ8RESEF1264vnT_L-D_5xZpwZxHmV9bKwX1bQUNo"></ion-img>
  </ion-toolbar>
</ion-footer>


