<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <ion-title><h4>Que la fuerza esté contigo</h4></ion-title>
    <link rel="stylesheet" href="page404.page.scss">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content">
  <h1>Code 404</h1>
  <h3>Esta no es la página que estás buscando</h3>
  
  <ion-button routerLink="/login" class="custom-button">Click get Out!</ion-button>
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4ecf6bb3-e5c2-49aa-8300-365ddf7e83fa/df82mav-93f48317-0773-4787-83c7-5aceca804d6d.png/v1/fill/w_1280,h_1020/darth_vader_png_by_kevingame_2_df82mav-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyMCIsInBhdGgiOiJcL2ZcLzRlY2Y2YmIzLWU1YzItNDlhYS04MzAwLTM2NWRkZjdlODNmYVwvZGY4Mm1hdi05M2Y0ODMxNy0wNzczLTQ3ODctODNjNy01YWNlY2E4MDRkNmQucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.kNJRokty4yZSpeoPsWUz-_4oDOoZGQUvY2ShKURmKJ4" alt="stormtrooper">
  <img class="img2" src="http://www.igorstshirts.com/blog/conceptships/2015/star_wars/special-forces-tie-fighter-star-wars-the-force-awakens-spacecraft-cut-out-with-transparent-background.png" alt="Tie Fighter">
</ion-content>
