.qwert{// ion-header
    height: 20%;
  }
  
  .im{ // logo duoc uc
    width:30%;
    margin:1%;
  }

  .image{// imagen vivo duoc
    height: 60px;
    padding: .5em;
    background-color: blue;
}

.carcont{ // ion-card, del content
    border-radius: 5%;
    box-shadow: 15px 10px 10px 0 rgba(0, 0, 0, 0.6);
    color: black;
    //background-color:rgb(255, 228, 181);
    background-color: white;
    //height: 10%;
    opacity: 0.8;
    //margin: 5%;
  }

  .obtener{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
    background-color: white;
    color: black;
    //padding: 5%;
    margin: 10%;
  }

  .listasecciones{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 25;
  }

  h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color: black;
    //padding: 5%;
    margin: 5%;
  }
 
  h6{// fecha hora
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
  }

  .btrecpas{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-small;
    color: blue;
  }

  .btnguardar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color: black;
    font-size:medium;
  }

  .btncerrar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium;
    color: red;
    font-size:small;
  }

  .item{
    background-color: white;
  }

.inp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:x-small; 
}

.imfoot{// footer
    height: 60px;
    padding: .5em;
}

.asdg{ // ion-card central
  box-shadow: 15px 10px 10px 0 rgba(0, 0, 0, 0.6);
  color: black;
  background-color:white;
  height: 100;
  opacity: 0.8;
}

.center-button {
  border-radius: 5%;
  //box-shadow: 15px 10px 10px 0 rgba(0, 0, 0, 0.6);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
}

.label{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:small;
  color: black;
  bottom: 50%;
  left: 90%;
}


